{%extends 'base.html'%} {%block title%}About{%endblock title%} {%block content%}
<div class="mt-5">
  <h1 class="visually-hidden">TODO: Put something here!</h1>

  <div class="container px-4 py-5">
    <div class="pb-2 border-bottom">
      <h2>About this Website</h2>
    </div>
    <div class="mt-3 pb-2 mb-3 border-bottom">
      Dimond HS (Dimond High School) Listings is a website where members of
      Dimond High School can post information about clubs, and other things.
      This website is created by students at Dimond High School, and
      <a href="https://raventechnology.dev" target="_blank">Raven Technology</a
      >, a local website development company. This project has no official
      affiliation with Dimond High School, or the Anchorage School District. For
      more information, please
      <a href="https://raventechnology.dev/about/contact/">contact us</a>.
    </div>
    <div class="accordion accordion-flush">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed fs-4"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#a1"
            aria-expanded="false"
            aria-controls="a1"
          >
            Why was this website created?
          </button>
        </h2>
        <div id="a1" class="accordion-collapse collapse" data-bs-parent="#ap">
          <div class="accordion-body">
            <p class="lead">
              This website was created because Dimond High School did not have a
              quality listing platform before this platform. Dimond High School
              has some web-pages with some information about relevant listings
              on them, but those pages tend to have little information, or other
              issues with them. That's why this website was created, so members
              of Dimond High School have a good way to see relevant things about
              the school.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed fs-4"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#a2"
            aria-expanded="false"
            aria-controls="a2"
          >
            The future of this website.
          </button>
        </h2>
        <div id="a2" class="accordion-collapse collapse" data-bs-parent="#ap">
          <div class="accordion-body">
            <p class="lead">
              This website is still very new, so more features will be added
              shortly. However, Raven Technology is planning on implementing
              some new features, sometime in the future. Here is a list of what
              we are working on:
            </p>
            <ul class="list-group">
              <li class="list-group-item">Feature Request forms.</li>
              <li class="list-group-item">
                User Interface Design improvements.
              </li>
              <li class="list-group-item">Search filtering.</li>
              <li class="list-group-item">
                And other features as requested by our users.
              </li>
            </ul>
            <p class="lead mt-3">
              If you have an idea for a feature for this website, please feel
              free to
              <a href="https://raventechnology.dev/about/contact/">contact us</a
              >.
              Any support for this project is appreciated.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed fs-4"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#a4"
            aria-expanded="false"
            aria-controls="a4"
          >
            Credits for this project.
          </button>
        </h2>
        <div id="a4" class="accordion-collapse collapse" data-bs-parent="#ap">
          <div class="accordion-body">
            <p class="lead">
              This project has some staff that work to make this platform
              happen.
              <br />
              We would like to give credit to:
            </p>
            <ul class="list-group">
              <li class="list-group-item">
                <a href="https://raventechnology.dev" target="_blank"
                  >Raven Technology</a
                >, for developing and hosting this platform.
              </li>
              <li class="list-group-item">
                Raymond Patterson, owner and operator of Raven Technology.
                Primary founder of this platform.
              </li>
              <li class="list-group-item">
                Gideon Palmer, for helping design the platform, and providing
                general support and planning services. Co-founder of this
                platform.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed fs-4"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#a5"
            aria-expanded="false"
            aria-controls="a5"
          >
            Our contact information.
          </button>
        </h2>
        <div id="a5" class="accordion-collapse collapse" data-bs-parent="#ap">
          <div class="accordion-body">
            <p class="lead">
              If you wish to contact the platform manager, the best way to do
              that is to email us at
              <a href="mailto:main@raventechnology.dev">
                main@raventechnology.dev</a
              >.
            </p>
            <p class="lead">
              You can also call us at
              <a href="tel:+19076009155">+1-(907)-600-9155</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed fs-4"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#a6"
            aria-expanded="false"
            aria-controls="a6"
          >
            What is Raven Technology?
          </button>
        </h2>
        <div id="a6" class="accordion-collapse collapse" data-bs-parent="#ap">
          <div class="accordion-body">
            <p class="lead">
              Raven Technology is a local web development business dedicated to
              developing and supporting quality websites, like this one. We
              strive to meet our client's needs, and we support our
              clients, even after their website's deployment.
              <a
                href="https://raventechnology.dev/about/contact/"
                target="_blank"
                >Contact us</a
              >
              for a free consultation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {%comment%} TODO: Things to write: - What features will be implimented in
  future versions - Credits for contributors - Why this website was created. -
  How Dimond HS failed to bring their own platform, despite 3 years of
  development on it (accordion to Gideon). - Credits for contributions.
  {%endcomment%}
</div>
{%endblock content%}
