{%extends "base.html"%} {%block title%}Privacy Policy{%endblock title%}
{%block content%}
<div class="container content">
  <h1>Privacy Policy</h1>
  <p>Last Updated: 12 September 2023</p>
  <p>
    This Privacy Policy explains how Raven Technology ("we," "us," or "our")
    collects, uses, shares, and protects your personal information when you
    visit our website, <code>dhslistings.raventechnology.dev</code> (the
    "Site"). By accessing or using our Site, you consent to the practices
    described in this Privacy Policy.
  </p>
  <h2>Information We Collect</h2>
  <p>
    We may collect the following types of information from users of our Site:
  </p>
  <div>
    <h3 class="fs-5">Personal Information</h3>
    <p>
      This may include your name, email address, phone number, and any other
      information you voluntarily provide to us when you register for an
      account, subscribe to our newsletter, or contact us through our Site.
    </p>
    <h3 class="fs-5">Usage Information</h3>
    <p>
      We may collect information about your interactions with our Site, such as
      your IP address, browser type, referring/exit pages, and operating system.
    </p>
    <h3 class="fs-5">Cookies</h3>
    <p>
      We use cookies and similar tracking technologies to collect information
      about your browsing activities on our Site. You can control the use of
      cookies through your browser settings.
    </p>
  </div>
  <h2>How We Use Your Information</h2>
  <p>We may use the information we collect for the following purposes:</p>
  <ul>
    <li>To provide and maintain the Site and our services.</li>
    <li>
      To communicate with you, respond to your inquiries, and provide customer
      support.
    </li>
    <li>
      To send you newsletters, marketing materials, and updates about our
      products or services, if you have opted in to receive them.
    </li>
    <li>
      To improve our Site and services, analyze usage patterns, and perform data
      analytics.
    </li>
    <li>
      To protect our rights, privacy, safety, or property, and/or that of our
      affiliates, you, or others.
    </li>
    <li>To comply with legal obligations and enforce our Terms of Service.</li>
  </ul>
  <h2>Sharing Your Information</h2>

  <p>We may share your information with:</p>
  <ul>
    <li>
      Third-party service providers who assist us in operating our Site or
      providing our services.
    </li>
    <li>
      Law enforcement, government agencies, or authorized third parties in
      response to a legal request, court order, or similar demand.
    </li>
    <li>
      Affiliates and business partners for marketing and promotional purposes,
      if you have consented to such sharing.
    </li>
  </ul>
  <h3 class="fs-5">Your Choices</h3>

  <p>You have the following choices regarding your personal information:</p>
  <ul>
    <li>
      You can opt-out of receiving marketing communications from us by following
      the unsubscribe instructions in any email we send.
    </li>
    <li>
      You can update or correct your personal information by logging into your
      account or contacting us.
    </li>
  </ul>
  <h2>Security</h2>
  <p>
    We take reasonable measures to protect your personal information, but no
    data transmission or storage can be guaranteed to be 100% secure. We cannot
    ensure the security of any information you transmit to us, and you use our
    Site and provide us with your information at your own risk.
  </p>
  <h2>Changes to this Privacy Policy</h2>
  <p>
    We may update this Privacy Policy from time to time to reflect changes in
    our practices or for other operational, legal, or regulatory reasons. We
    will notify all accounts of any material changes at least 7 days before
    those changes take effect.
  </p>
  <h2>Contact Us</h2>
  <p>
    If you have any questions or concerns about this Privacy Policy or our data
    practices, please contact us by emailing us as `main@raventechnology.dev`.
  </p>
</div>
{%endblock content%}
