{% extends "base.html" %} {% block title %}Terms of Service{% endblock title %}
{% block content %}
<div class="container content">
  <h1>Terms of Service</h1>

  <p>Last Updated: 12 September 2023</p>

  <p>Welcome to Dimond HS Listings!</p>

  <p>
    By accessing or using Dimond HS Listings (the "Website"), you agree to
    comply with and be bound by these Terms of Service (the "Terms"). If you do
    not agree to these Terms, please do not use the Website.
  </p>

  <h2>1. User Data</h2>

  <h3 class="fs-5">1.1. Collection of User Data</h3>
  <p>
    Dimond HS Listings may collect and process user data only from individuals
    who explicitly agree to provide such information. User data may include, but
    is not limited to, personal information, contact details, and any other
    information voluntarily submitted by users.
  </p>

  <h3 class="fs-5">1.2. Purpose of Data Collection</h3>
  <p>
    User data will be collected solely for the purpose of enhancing the user
    experience on the Website, providing personalized content and services, and
    improving our products and services.
  </p>

  <h3 class="fs-5">1.3. Data Security</h3>
  <p>
    Dimond HS Listings is committed to protecting the security and
    confidentiality of user data. We implement appropriate technical and
    organizational measures to safeguard the data collected.
  </p>

  <h3 class="fs-5">1.4. Data Sharing</h3>
  <p>
    Dimond HS Listings does not share user data with third parties unless
    explicitly authorized by the user or required by law. We may share
    aggregated, non-personal information for statistical analysis and reporting.
  </p>

  <h2>2. Use of the Website</h2>

  <h3 class="fs-5">2.1. Access and Use</h3>
  <p>
    You may access and use the Website for lawful purposes only. You are
    responsible for complying with all applicable laws and regulations while
    using the Website.
  </p>

  <h3 class="fs-5">2.2. Prohibited Activities</h3>
  <p>
    You are expressly prohibited from engaging in any of the following
    activities while using the Website: Attempting to gain unauthorized access
    to our servers or other systems. Using the Website in any way that may harm,
    disrupt, or interfere with its functionality or security. Posting or
    transmitting any content that is illegal, offensive, or violates the rights
    of others. Attempting to collect or store any user data without their
    consent.
  </p>
  <h3 class="fs-5">2.3. Termination</h3>
  <p>
    Dimond HS Listings reserves the right to terminate or suspend your access to
    the Website at any time, without notice, for any reason, including but not
    limited to a breach of these Terms.
  </p>

  <h2>3. Intellectual Property</h2>

  <p>
    All content and materials on the Website, including text, graphics, logos,
    images, and software, are protected by intellectual property laws. You may
    not copy, reproduce, modify, or distribute any content from the Website
    without our prior written consent from the owners of the content.
  </p>

  <h2>4. Disclaimer of Warranties</h2>

  <p>
    The Website is provided "as is" and "as available" without any warranties of
    any kind, either express or implied. We do not guarantee that the Website
    will be error-free or uninterrupted. You use the Website at your own risk.
  </p>

  <h2>5. Limitation of Liability</h2>

  <p>
    To the fullest extent permitted by law, Dimond HS Listing shall not be
    liable for any direct, indirect, incidental, special, consequential, or
    punitive damages arising out of or in connection with your use of the
    Website, even if we have been advised of the possibility of such damages.
  </p>

  <h2>6. Changes to Terms</h2>

  <p>
    Dimond HS Listings reserves the right to modify or revise these Terms at any
    time. The most current version of the Terms will be posted on the Website,
    and your continued use of the Website after any changes constitutes your
    acceptance of those changes. We will notify all accounts at least 7 days
    prior to the changes taking effect.
  </p>

  <h2>7. Governing Law</h2>

  <p>
    These Terms shall be governed by and construed in accordance with the laws
    of the United States, without regard to its conflict of law principles.
  </p>

  <h2>8. Contact Us</h2>

  <p>
    If you have any questions or concerns about these Terms or the Website,
    please contact us at main@raventechnology.dev.
  </p>

  <p>
    By using Dimond HS Listings, you agree to abide by these Terms of Service.
    Thank you for using our Website!
  </p>

  <p>Dimond HS Listings</p>
  <p><code>dhslistings.raventechnology.dev</code></p>
</div>
{% endblock content %}
