{%extends 'base.html'%} {%block title%}Applications
{%endblock title%}
{%block content%}
<div class="content container">
  <h1>Available Applications</h1>
  <p>
    Below are the types of applications available for this platform. platform.
    Applications are needed, so we can verify that this platform will stay free
    of spam.
  </p>
  <hr>
  <div>
    <a href="/applications/club_representative/">
      <h2>Representative Application</h2>
      <p>Below is the application to become a club or event representative on our platform. If your application gets approved,
        you will have permission to add or modify your club or event on this platform.</p>
    </a>
  </div>
</div>
{%endblock content%}