{% extends "base.html" %} {% block title %}Your Application was Submitted
{%endblock title %} {% block content %}
<div class="container content">
  <h1>Congratulations!</h1>
  <p>
    Your application to become a Representative was submitted successfully.
    Raven Technology will call you shortly, in order to proceed with additional
    verification, and so we can set up your account. If you have any questions,
    please contact us by emailing us at
    <a href="mailto:main@raventechnology.dev">main@raventechnology.dev</a>,
    or by calling us at <a href="tel:+19076009155">(907)-600-9155</a>.
  </p>
</div>
{% endblock content %}
