{%extends 'base.html'%} {%block title%}Welcome{%endblock title%} {#KEEP HERE!#}
{%block content%}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
  <div class="col-md-6 p-lg-5 mx-auto my-5">
    <h1 class="display-3 fw-bold">By students, for students.</h1>
    <h3 class="fw-normal text-muted mb-3">
      The platform for information from Dimond High School.
    </h3>
    <div class="d-flex gap-3 justify-content-center lead fw-normal">
      <a class="icon-link" href="{%url 'About:about'%}">
        Learn more
      </a>
    </div>
  </div>
  <div>
    <p class="lead">
      Dimond HS Listings is the best platform for displaying information
      relevant to Dimond High School. This platform solves the issues of
      inefficient flow of information within Dimond High School, while providing
      a good user experience.
    </p>
  </div>
  <hr />
  <div class="row align-items-md-stretch g-4 text-center">
    <div class="col-md-6">
      <a href="/listings/clubs/" class="text-decoration-none">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Clubs</h2>
          <p>
            Click on this to view information about the clubs at Dimond
            High School.
          </p>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="{%url 'Listing:events'%}" class="text-decoration-none">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Events</h2>
          <p>
            Click on this to view information about the events at Dimond
            High School.
          </p>
        </div>
      </a>
    </div>
    <hr />
    Dimond HS Listings informs members of Dimond High School on clubs, events, or
    other important things within the school. We believe that a well-informed
    community is a strong one, so this platform makes the access of information
    fast and easy. We hope that you like this website, and that it serves you
    well.
  </div>
</div>
{%endblock content%}