{% extends "base.html" %}
{% block title %}There was an issue{% endblock title %}
{% block content %}
<div>
  <h1>There was a problem.</h1>
  <p>We're sorry, but there was an issue completing your search query. Please try again.</p>
  <form action="{%url 'Search:search'%}" method="post">
    {% csrf_token %}
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="s_phrases"
        placeholder="Example Thing"
        name="phrases"
        required
      />
      <label for="s_phrases">Search Query</label>
    </div>
    <input type="submit" class="btn btn-primary" value="Search">
  </form>
</div>
{% endblock content %}