{% extends "base.html" %}
{% block title %}Past Events{% endblock title %}
{% block content %}
<div class="container content">
  <h1>Past Events at Dimond HS</h1>
  <p>
    Below are some of the past events for Dimond High School. If you would like to
    add your own listing, please
    <a href="{%url 'Application:representative'%}">apply to become a representative</a>.
    <br>
    Don't see events that are scheduled to happen? Try <a href="{%url 'Listing:events'%}">viewing upcoming events</a>,
    or completeing a <a href="{%url 'Search:search'%}">search for the event</a>.
  </p>
  <hr />
  <div class="row mt-3 mx-auto">
    {%for event in events%}
    <a
      href="{{event.id}}"
      class="text-decoration-none card col-md-3 m-2 p-0"
      style="width: 18rem"
    >
      <div class="col">
        <div>
          {%if event.thumbnail_image%}
          <img
            class="card-img-top"
            src="{{MEDIA_URL}}\{{event.thumbnail_image|safe}}"
            alt="The thumbnail image for this club."
          />
          {%endif%}
          <div class="card-body">
            <h4 class="card-title">{{event.event_name}}</h4>
            <p class="card-text">{{event.date_time_of_event}}</p>
            <p class="card-text">{{event.event_short_description}}</p>
          </div>
        </div>
      </div>
    </a>
    {%endfor%}
  </div>
</div>
{% endblock content %}